body {
  height: 200px;
  width: 250px;
}

.Welcome-Message {
  margin-bottom: 15px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.Emotions-Grid {
  margin: auto;
  width: 50%;
  width: 245px;
  height: 150px;
}

.Emotions-Row {
  margin-bottom: 10px;
}

.Emotion-Button-Div {
  display: inline-block;
}

button {
  width: 75px;
  height: 30px;
  font-family: Arial;
  text-align: center;

}